@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-color-primary-50: 238 242 255;
  --tw-color-primary-100: 224 231 255;
  --tw-color-primary-200: 199 210 254;
  --tw-color-primary-300: 165 180 252;
  --tw-color-primary-400: 129 140 248;
  --tw-color-primary-500: 99 102 241;
  --tw-color-primary-600: 79 70 229;
  --tw-color-primary-700: 67 56 202;
  --tw-color-primary-800: 55 48 163;
  --tw-color-primary-900: 49 46 129;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #eef2ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #e0e7ff */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #c7d2fe */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #a5b4fc */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #818cf8 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #6366f1 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #4f46e5 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #4338ca */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #3730a3 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #312e81 */
}

@layer base {
  /* #region  /**=========== Local Fonts =========== */
  @font-face {
    font-family: 'Cyriele';
    src: url('/fonts/Cyriele/CyrieleRegular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Mutually Beneficial';
    src: url('/fonts/MutuallyBeneficial/MutuallyBeneficialRegular.woff2')
      format('woff2');
    font-style: normal;
    font-weight: normal;
  }
  /* Black */
  @font-face {
    font-family: 'Megabyte';
    src: url('/fonts/Megabyte/MegabyteBlack.woff2') format('woff2');
    font-style: normal;
    font-weight: 900;
  }
  @font-face {
    font-family: 'Megabyte';
    src: url('/fonts/Megabyte/MegabyteBlackItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 900;
  }
  /* Bold */
  @font-face {
    font-family: 'Megabyte';
    src: url('/fonts/Megabyte/MegabyteBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
  }
  @font-face {
    font-family: 'Megabyte';
    src: url('/fonts/Megabyte/MegabyteBoldItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 700;
  }
  /* Medium */
  @font-face {
    font-family: 'Megabyte';
    src: url('/fonts/Megabyte/MegabyteMedium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
  }
  @font-face {
    font-family: 'Megabyte';
    src: url('/fonts/Megabyte/MegabyteMediumItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 500;
  }
  /* Regular */
  @font-face {
    font-family: 'Megabyte';
    src: url('/fonts/Megabyte/MegabyteRegular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: 'Megabyte';
    src: url('/fonts/Megabyte/MegabyteRegularItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 400;
  }
  /* Light */
  @font-face {
    font-family: 'Megabyte';
    src: url('/fonts/Megabyte/MegabyteLight.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
  }
  @font-face {
    font-family: 'Megabyte';
    src: url('/fonts/Megabyte/MegabyteLightItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 300;
  }

  /* #endregion  /**======== Local Fonts =========== */

  html {
    scroll-behavior: smooth;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply text-3xl md:text-5xl;
  }

  h1,
  .h1 {
    @apply text-2xl md:text-4xl;
  }

  h2,
  .h2 {
    @apply text-xl md:text-3xl;
  }

  h3,
  .h3 {
    @apply text-lg md:text-2xl;
  }

  h4,
  .h4 {
    @apply text-base md:text-lg;
  }

  body,
  .p {
    @apply text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}

/* Minimal Scrollbar Design */
html::-webkit-scrollbar {
  width: 4px;
}
html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
html::-webkit-scrollbar-thumb {
  background-color: #333333;
  opacity: 1;
  border-radius: 10px;
}
